.input {
    padding: 0.5rem;
    border: 1px solid var(--border-color);
    border-radius: 4px;
  }
  
  .dark {
    background: var(--border-color);
    color: #fff;
}
  
.light {
    background: #fff;
    
}